@import "~main.scss";

.Main {
  .main-content {
    width: 100%;
    padding-top: 60px;
    .members {
      flex-flow: row wrap;
    }
    .quzzies {
      & ~ a {
        width: max-content;
        margin: 40px auto;
        .LevelUpButton {
          background-color: $main-color;
          > span {
            font-weight: bold;
          }
        }
      }
    }
  }
}
