@import "~main.scss";

.Main {
  .main-content {
    width: 100%;
    padding-top: 60px;
    .apply {
      background-color: $main-color;
      max-width: 250px;
      margin: 0 auto 50px auto;
      width: 100%;
      > span {
        font-weight: bold;
        color: #fff;
        letter-spacing: .8px;
      }
    }
    .members {
      flex-flow: row wrap;
    }
    .quzzies {
      & ~ a {
        width: max-content;
        margin: 40px auto;
        .LevelUpButton {
          background-color: $main-color;
          > span {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.apply-content {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 105;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 8, 0.63);
  .ApplyNow {
    height: 100%;
    .overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      top:0;
      left: 0;
    }
    > .Icon {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
    .apply-body {
      max-width: 500px;
      min-height: 350px;
      box-shadow: $material-shadow;
      margin: 0 auto;
      position: relative;
      top: 150px;
      border-radius: 3px;
      overflow: hidden;
      background-color: $main-color;
      .loader {
        .image-block{
          width: 100%;
          height: 200px;
          background-size: cover;
          background-position: center center;
          border-bottom-left-radius: 60px;
          border-bottom-right-radius: 60px;
        }
        .loader-spiner {
          width: 60px;
          height: 60px;
          background-color: $main-color;
          border: 7px solid #fff;
          border-radius: 100%;
          animation: spinnerAnimate 1s infinite;
          border-top-color:  $green;
          margin: 3rem auto;
          align-self: center;
        }
      }
      .congrats {
        padding: 20px 40px;
        justify-content: space-around;
        flex-grow: 1;
        h3 {
          color: $white;
          font-weight: bold;
          font-size: 30px;
        }
        .Icon {

        }
        p {
          color: $white;
          font-weight: bold;
          text-align: center;
        }
      }
      >div {
        > span {
          text-align: center;
          margin-top: 30px;
          margin-bottom: 10px;
          font-size: 24px;
          font-weight: bold;
          color: $white;
          position: relative;
          > .Icon {
            position: absolute;
            left: 25px;
            top: 5px;
            cursor: pointer;
            svg {
              fill: $white;
            }
          }
        }
        form {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 25px;
          .ValidatableForm_content {
            .TextField {
              margin-bottom: 15px;
            }
          }
          .ValidatableForm_footer {
            button {
              background-color: $white;
              &.disabled {
                opacity: 0.3;
              }
              &:last-child {
                margin-left: 15px;
              }
              > span {
                font-weight: bold;
                color: $main-color;
              }
            }
          }
        }
        .courses-for-apply {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          > div {
            &.choosen {
              display: none;
            }
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 55%;
            height: 55px;
            margin: 15px;
            border-radius: 4px;
            box-shadow: $material-shadow;
            cursor: pointer;
            transition: all 0.3s linear;
            div {
            width: 20%;
            height: 55px;
            background-position: left center;
            background-color: $main-color;
            background-repeat: no-repeat;
            background-size: contain;
            }
            h3{
              color: #fff;
            }
            &:hover{
              transform: scale(1.1);
            }
          }
        }
        .img {
          height: 65px;
          background-size: 40%;
          background-position: center center;
          background-color: $main-color;
          background-repeat: no-repeat;
        }
      }
    }
  }
}


@keyframes spinnerAnimate {
  from { transform: rotate(0) }
  to { transform: rotate(360deg) }
}

@media screen and (max-width: 580px) {
  .apply-content .ApplyNow .apply-body > div .courses-for-apply > div h3 {
    display: none; } 
  .apply-content .ApplyNow .apply-body > div .courses-for-apply > div div{
    width: 100%;
  }
  .apply-content .ApplyNow .apply-body > div .courses-for-apply{
    flex-direction: row;
  }
}
