.Students {
  .StudentCard {
    .image-block {
      background-color: white;
      background-size: contain !important;
      background-repeat: no-repeat;
    }
  }
  .page-content {
    > .TextField {
      margin: 0 auto 28px auto;
      max-width: 400px;
    }
  }
}