@import "~main.scss";

.login-content {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 105;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 8, 0.63);
  .Login {
    height: 100%;
    > .Icon {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
    .login-body {
      max-width: 500px;
      min-height: 350px;
      box-shadow: $material-shadow;
      margin: 0 auto;
      position: relative;
      top: 150px;
      background-color: $white;
      border-radius: 3px;
      overflow: hidden;
      background-color: $main-color;
      .divider {
        background-color: $white;
        margin-bottom: 30px;
      }
      .social-login {
        padding: 25px;
        padding-bottom: 0;
        > span:not(.Icon) {
          color: $green;
          font-weight: bold;
          font-size: 24px;
        }
        .Icon {
          margin:15px;
          &:first-child {
            svg {
              path {
                fill: $white !important;
              }
            }
          }
        }
      }
      .ValidatableForm {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        padding: 25px;
        padding-top: 10px;
        &_content {
          .TextField{
            margin-bottom: 20px;
            input {
              &::placeholder {
                color: $main-color;
              }
            }
          }
        }
        .LevelUpButton {
          background-color: $white;
          > span {
            color: $main-color;
            font-weight: bold;
          }
        }
        .login-footer {
          button {
            order: 0;
            &:disabled {
              > span {
                color: $disabled-color;
              }
              background-color: $disabled-background-color;
            }
          }
          &.reverse {
            button:first-child{
              order: 1;
            }
          }
        }
      }
      .img {
        height: 65px;
        background-size: 40%;
        background-position: center center;
        background-color: $main-color;
        background-repeat: no-repeat;
      }
    }
  }
}
