@import "~main.scss";

.hover-combination {
  padding: 15px;
  cursor: pointer;
  width: 50%;
  transition: all 0.2s linear;
  background-color: $main-color;
  > span {
    color: $white;
  }
  svg {
    fill: $white;
  }
  &:hover {
    background-color: $white;
    > span {
      color: $main-color;
    }
    svg {
      fill: $main-color;
    }
  }
}

.CvCard {
  max-width: 350px;
  box-shadow: $material-shadow;
  overflow: hidden;
  border-radius: 3px;
  .image-block {
    height: 300px;
    width: 100%;
    transition: all 0.28s linear;
    &:hover {
      transform: scale(1.2) rotate(10deg);
    }
  }
  .cv-card-content {
    position: relative;
    z-index: 2;
    background-color: $white;
    .create-cv {
      @extend .hover-combination;
    }
    .view-cv {
      @extend .hover-combination;
    }
  }
}
