@import "~main.scss";

.TeamMemberItem {
  box-shadow: $material-shadow;
  width: 300px;
  border-radius: 3px;
  overflow: hidden;
  margin: 12px;
  background-color: $white;
  .divider{
    max-width: 600px;
    &:before {
      border-color: $white !important;
    }
  }
  .team-member-item-block {
    .image-block {
      width: 100%;
      height: 280px;
      background-size: cover;
    }
    .text-block {
      padding: 16px 24px;
      h3 {
        color: $main-color;
        text-align: center;
      }
      p {
        &.position {
          color: $blue;
          text-align: center;
          line-height: 21px;
        }
        &.aboutWork {
          margin-bottom: 10px;
          text-align: center;
          line-height: 21px;
        }
      }
      .social {
        padding-top: 6px;
        a {
          cursor: pointer;
        }
        .Icon {
          margin: 6px;
          display: flex;
        }
      }
    }
  }
}